.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #161A30;
    height: 50px;
    padding: 5px;
    margin: 5px ;
    border-radius: 5px;
}

.navbar-items {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.active {
    color: #c9840b;
}

#nav-item {
    margin: 5px;
    text-decoration: none;
    color: #F0ECE5;

}

#logo-text {
    font-size: large;
    font-weight: bold;
    margin: 5px;
    color: #F0ECE5;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}